@{
    ViewBag.Title = "ChangePassword";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<script src="~/Content/DirPAgination/dirPagination.js"></script>
<script src="~/Scripts/JSController/MasterCntrl.js"></script>

<div ng-app="myApp" ng-controller="MasterController">
    <div class="container">
        <div class="row">
            <div style="text-align:center;">
                <img id="loading" src="~/Images/ajax-loader.gif" alt="Loading..." class="deactivediv">
            </div>
            <div class="col-sm-12">
                <div id="MessageBox" class="table-responsive"></div>
                @*Change Password*@
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <strong>Change Password</strong>
                    </div>
                    <div class="panel-body">
                        <form role="form" name="resetForm" novalidate>
                            <div class="table-responsive">
                                <table id="myTable" class="table">
                                    <tbody>
                                        <tr>
                                            <td>
                                                <div class="input-group form">
                                                    <input class="form-control" type="Password" id="ePass" name="newPassword" ng-model="New.Pass" placeholder="Enter New Password" required>
                                                    <span class="input-group-btn">
                                                        <button id="btnSave" type="button" class="btn btn-primary" style="text-align:right;" value="Change Password" name="Save"
                                                                ng-click="changePassword(New)">
                                                            Change Password
                                                        </button>
                                                        <input id="btnReset" type="reset" class="btn btn-success" value="Reset" />
                                                    </span>
                                                </div>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>