@{
    ViewBag.Title = "Member Profile";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<script src="~/Content/DirPAgination/dirPagination.js"></script>
<script src="~/Scripts/JSController/MasterCntrl.js"></script>

<div ng-app="myApp" ng-controller="MasterController">
    <div class="container">
        <div class="row">
            <div style="text-align:center;">
                <img id="loading" src="~/Images/ajax-loader.gif" alt="Loading..." class="deactivediv">
            </div>
            <div class="col-sm-12">
                <div class="table-responsive">
                    <div class="panel panel-info">
                        <div class="panel-heading">
                            <strong>Member Profile Details</strong>
                        </div>
                        <div class="panel-body">
                            <div ng-init="GetEmp('')">
                                <table class="table table-hover table-bordered table-condensed table-striped">
                                    <tbody dir-paginate="d in empdata|itemsPerPage:5">
                                        <tr>
                                            <td style="width:16.6%">
                                                <label>Employee Unique ID</label>
                                            </td>
                                            <td style="width:30%">{{d.empUnqID}}</td>
                                            <td style="width:16.6%">
                                                <label>Employee Name</label>
                                            </td>
                                            <td style="width:30%">{{d.empName}}</td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <label>Work Group</label>
                                            </td>
                                            <td>{{d.wrkGrp}}</td>
                                            <td>
                                                <label>Unit Name</label>
                                            </td>
                                            <td>{{d.unit}}</td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <label>Department Name</label>
                                            </td>
                                            <td>{{d.deptDesc}}</td>
                                            <td>
                                                <label>Station Name</label>
                                            </td>
                                            <td>{{d.statDesc}}</td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <label>Category Name</label>
                                            </td>
                                            <td>{{d.catDesc}}</td>
                                            <td>
                                                <label>Employee Type Name</label>
                                            </td>
                                            <td>{{d.empTypeName}}</td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <label>Grade Name</label>
                                            </td>
                                            <td>{{d.gradeDesc}}</td>
                                            <td>
                                                <label>Designation Name</label>
                                            </td>
                                            <td>{{d.desgDesc}}</td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <label>Cost Code</label>
                                            </td>
                                            <td>{{d.costCode}}</td>
                                            <td>
                                                <label>SAPID</label>
                                            </td>
                                            <td>{{d.sapid}}</td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <label>Joining Date</label>
                                            </td>
                                            <td>{{d.joinDt|date:'dd/MM/yyyy'}}</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>