@{
    ViewBag.Title = "ResetPassword";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<script src="~/Content/DirPAgination/dirPagination.js"></script>
<script src="~/Scripts/JSController/MasterCntrl.js"></script>

<div ng-app="myApp" ng-controller="MasterController">
    <div class="container">
        <div class="row">
            <div style="text-align:center;">
                <img id="loading" src="~/Images/ajax-loader.gif" alt="Loading..." class="deactivediv">
            </div>
            <div class="col-sm-12">
                <div id="MessageBox" class="table-responsive"></div>
                @* Reset Password *@
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <strong>Reset Password</strong>
                    </div>
                    <div class="panel-body">
                        <form role="form" name="resetForm" novalidate>
                            <table id="myTable" class="table table-responsive table-condensed">
                                <tbody>
                                    <tr>
                                        <td>
                                            <div class="input-group form">
                                                <input type="text" class="form-control" id="eCode" name="eCode" placeholder="Search Employee Code" ng-model="N.eCode">
                                                <span class="input-group-btn">
                                                    <button class="btn btn-primary" type="submit" id="btnSearch" value="Search" name="Search" ng-click="GetEmp(N.eCode)"><i class="icon-search"></i></button>
                                                    <button class="btn btn-success btn-custom" type="button" id="btnSave" style="text-align:right;" value="Reset" name="Reset" ng-click="ResetPass(N.eCode)">Reset</button>
                                                </span>
                                            </div>
                                        </td>
                                        <td>
                                            <table class="table table-bordered" id="tbl_empdtl">
                                                <tr dir-paginate="d in empdata|itemsPerPage:5">
                                                    <th>Employee Code</th>
                                                    <td>{{d.empUnqID}}</td>
                                                    <th>Employee Name</th>
                                                    <td>{{d.empName}}</td>
                                                </tr>
                                            </table>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>